<!DOCTYPE html>
<html lang="en" {% block html_attrs  %}{% endblock html_attrs %}>
{% block html %}
  <head>
    {% block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block metas %}
    <meta name="description" content="WordleBot" />
    <meta name="theme-color" content="#ffffff" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/icons/apple-touch-icon.png') }}">  
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}" type="image/x-icon">
    {% endblock metas %}

    
    {% block css %}
    {% endblock css %}
    
    {% endblock head %}
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    
  </head>
  <body{% block body_attrs %}{% endblock body_attrs %}>
    {% block body %}
    
    <div id="app">
      <div class="container">
        {% block content %} {% endblock %}
      </div>        
    </div>

    {% block scripts %}
    {% endblock scripts %}

    {% block serviceworker %}
    <script type="text/javascript">
      if ("serviceWorker" in navigator) {
          window.addEventListener("load", () => {
          navigator.serviceWorker
              .register("/sw.js")
              .then((registration) => {
                console.log(`Yay! ServiceWorker is loaded 🎉`)
              })
              .catch((err) => {
                console.log(`Boo! ServiceWorker didn't load 😬: ${err}`);
              });
          });
      }
    </script>
    {% endblock serviceworker %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock body %}

  </body>
{% endblock html %}
</html>
