{% extends 'base.html' %}


{% block content %}

    <div style="text-align: center;margin-top:50px;">
    
    <h3>Hello {{ user }}!</h3>

    <section style="margin-top:50px;">
       Please accept the notification prompts!
    </section>
    </div><pre>
    <div id="error-log"></div>
    </pre>
    <script>
        console.log = (function (old_function, div_log) { 
            return function (text) {
                old_function(text);
                div_log.textContent  += text + "\n";
            };
        } (console.log.bind(console), document.getElementById("error-log")));

        // function showObjects(theclass) {
        //         divs = document.getElementsByClassName(theclass);
        //         for (x = 0; x < divs.length; x++) {
        //             divs[x].style.display = "block"
        //         }
        //     }

        //     function hideObjects(theclass) {
        //         divs = document.getElementsByClassName(theclass);

        //         for (x = 0; x < divs.length; x++) {
        //             divs[x].style.display = "none"
        //         }
        //     }

        //     isInWebAppiOS = (window.navigator.standalone == true);
        //     isInWebAppChrome = (window.matchMedia('(display-mode: standalone)').matches);

        //     if (isInWebAppChrome) {

        //         hideObjects("ios");
        //         hideObjects("web");
        //         showObjects("pwa");
        //     } else if (isInWebAppiOS) {
        //         hideObjects("web");
        //         showObjects("pwa");
        //         showObjects("ios");
        //     } else {
        //         hideObjects("pwa");
        //         hideObjects("ios");
        //         showObjects("web");
        //     }


            async function pushSubscriptionChangeListener(event) {
                if (event.current.token) {
                    //  const subscription  = OneSignal.User.PushSubscription;

                    console.log(event.current)
                    console.log("HERE3")

                    if (event.current.optedIn) {
                        console.log("HERE4")
                        OneSignalDeferred.push(async function (OneSignal) {

                            loggedIn = getCookie("loggedIn");
                            if (loggedIn !== event.current.token) {
                                console.log("LogginInChanged")
                                OneSignal.login("{{ user }}").then(async value => {
                                    setCookie("loggedIn", event.current.token, 1000);
                                    await new Promise(r => setTimeout(r, 2000));
                                    window.location.replace("/score");

                                }).catch(error => {
                                    console.log("error logging in: " + error);
                                });
                            }                       
                            else {
                                window.location.replace("/score");
                            }
                        });
                            
                    } 

                }
            }

            function getCookie(name) {
                const nameEquals = name + '=';
                const cookieArray = document.cookie.split(';');

                for (cookie of cookieArray) {
                    while (cookie.charAt(0) == ' ') {
                        cookie = cookie.slice(1, cookie.length);
                    }

                    if (cookie.indexOf(nameEquals) == 0)
                        return decodeURIComponent(
                            cookie.slice(nameEquals.length, cookie.length),
                        );
                }

                return null;
            }

            function setCookie(cname, cvalue, exdays) {
                const d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                let expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }



            function initializeListener() {
                console.log("Initializing");

                OneSignal.User.PushSubscription.addEventListener("change", pushSubscriptionChangeListener);

                OneSignalDeferred.push(async function (OneSignal) {
                    //console.log(OneSignal);
                    // OneSignal.addEventListener("initialize", initializeListener);        
                    console.log(OneSignal.User.PushSubscription);
                    let permission = await OneSignal.Notifications.permission
                    //console.log(OneSignal.User.PushSubscription);    
                    console.log("Permission: " + permission)                
                    if (!permission) {
                        OneSignalDeferred.push(async function (OneSignal) {
                            console.log("Requesting Permissing2")
                            await OneSignal.Slidedown.promptPush();                            
                            // await OneSignal.Notifications.requestPermission();

                            
                        });
                    }
                    else if (!OneSignal.User.PushSubscription.optedIn || OneSignal.User.PushSubscription.id === undefined) {
                        OneSignalDeferred.push(async function (OneSignal) {
                            console.log("Opting in")
                            OneSignal.User.PushSubscription.optIn()
                        });
                    }

                    if (OneSignal.User.PushSubscription.token) {
                        //  const subscription  = OneSignal.User.PushSubscription;

                        console.log("HERE1")

                        if (OneSignal.User.PushSubscription.optedIn) {
                            console.log("HERE2")
                            OneSignalDeferred.push(async function (OneSignal) {

                                loggedIn = getCookie("loggedIn");
                                if (loggedIn !== OneSignal.User.PushSubscription.token) {
                                    console.log("LoggingInNotChanged")
                                    OneSignal.login("{{ user }}").then(async value => {
                                        setCookie("loggedIn", OneSignal.User.PushSubscription.token, 1000);
                                        await new Promise(r => setTimeout(r, 2000));
                                        window.location.replace("/score");
                                    }).catch(error => {
                                        console.log("error logging in: " + error);
                                    });
                                }            
                                else {
                                    window.location.replace("/score");
                                }           
                            });
                                
                        } 

                    }
                });

            }

            window.OneSignalDeferred = window.OneSignalDeferred || [];
            OneSignalDeferred.push(async function (OneSignal) {
                OneSignal.Debug.setLogLevel("debug");
                console.log()
                OneSignal.init({
                    appId: "{{ config.get('APP_ID') }}",
                }).then(value => {
                    initializeListener();
                })
            });



    
    </script>
   
{% endblock %}